<h1> Member </h1>

<%= link_to "æ–°å¢ Member", new_member_path %>

<hr>

<table>
  <thead>
    <tr>
      <td>Member name</td>
    </tr>
  </thead>
  <tbody>
    <% @members.each do |member| %>
    <tr>
      <td><%= member.name %></td>
    </tr>
    <% end %>
  </tbody>
</table>
